/* Created By: Dustin Hengel */

/* Buttons */
.button {
    background-color: beige;
    padding: 0 15px 0 15px;
    margin-right: 40px;
    margin-left: auto;
    color: black;
    font-size: 13pt;
    border-radius: 20px;
    border: 1px solid black;
}

    .button:hover {
        background-color: #e57e57;
    }

/* Body */
body {
    background-color: navajowhite;
}

/* Tables */

th {
    background-color: #e57e57;
}


table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 2px solid #e57e57;
}

th, td {
    padding: 5px;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.checkbox {
    transform: scale(2);
}
/* Error */

.errorContainer {
    width: 50%;
    margin: auto auto 50px auto;
}

.error {
    color: red;
    border: 1px solid red;
    background-color: #262626;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    opacity: .9;
}
