/*Created by: Dustin Hengel*/

body 
{
    background-color: navajowhite;
}

#listBody 
{
    width: 95%;
    margin: 100px auto auto auto;
}

.errorContainer
{
    width: 50%;
    margin: auto auto 50px auto;
}

th 
{
    background-color: #e57e57;
}


table 
{
    border-collapse: collapse;
    margin: auto;
}

table, th, td 
{
    border: 2px solid #e57e57;
}

th, td
{
    padding: 5px;
}


tr.bottomRow
{
    border: 0px;
    height: 15px;
}

.centered
{
    text-align: center;
}

.right
{
    text-align: right;
}

.checkbox
{
    transform: scale(2);
}
