/*Created by: Dustin Hengel*/

body
{
    background-color: navajowhite;
}

#manageReviewBody
{
    width: 90%;
    margin: 85px auto auto auto;
}

.error {
    color: red;
    border: 1px solid red;
    background-color: white;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    opacity: .8;
}

.textInput 
{
    background-color: beige;
    width: 176px;
}


label.rating
{
    width: 200px;
    text-align: right;
    display: inline-block;
}

.ratingControl
{
    display: inline-block;
}

.emptyStar 
{
    background-image: url(emptyStar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: auto;
}

.fullStar 
{
    background-image: url(fullStar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: auto;
}

.leftColLabel
{
    width: 200px;
    text-align: right;
}


.checkbox label
{
    width: 90px;
}

label.fee
{
    width: 130px;
    text-align: right
}

label.miscFees
{
    width: 240px;
    text-align: right;
}

.textArea
{
    background-color: beige;
    width: 360px;
}
