body
{
    background-color: navajowhite;
}

#manageReviewBody
{
    width: 90%;
    margin: 85px auto auto auto;
}

.emptyStar 
{
    background-image: url(emptyStar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: auto;
}

.fullStar 
{
    background-image: url(fullStar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: auto;
}

.button 
{
    background-color: white;
    padding: 0 15px 0 15px;
    margin-right: 40px;
    margin-left: auto;
    color: black;
    font-size: 13pt;
    border-radius: 20px;
    border: 1px solid black;
}

.button:hover
{
    background-color: #e57e57;
}
