body {
}

div.TableDiv {
    margin-top: 85px;
    margin-left: 5px;
}

th {
    background-color: #e57e57;
    font-family: 'Kalam';
    height: 40px;
}

td {
    font-family: 'Kalam', cursive;
    background-color: navajowhite;
    height: 60px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #e57e57;
}

th, td {
    min-width: 100px;
    text-align: center;
}

table + table {
    margin-top: 5px;
}

button{
    align-content: center;
    width: 40px;
    height: 30px;
    background-color: #e57e57;
    border: 2px solid black;
}